body{
	font-size:13px;
	font-family:微软雅黑;
	color:black;
	background-image: url();
}
a{
	text-decoration:none;
    font-size:13px;
	color:black;
	font-family:微软雅黑;
}
a:link{color:black;}
a:hover{
	text-decoration:none;
	color:#cd3333;
}
ul{list-style-type:none;}
div{
	margin:0px;
	padding:0px;
	border:0px;
}


/*页头部分*/
#head{
	margin:0px auto;
	width:1000px;
	height:330px;
	background-image: url(../images/t0199d4ca1c14b2dcecc.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat：

}
.logo{
	float:left;
	width:200px;
	height:92px;
	margin-top:30px;
	margin-left:30px;
}
.search{
	float:right;
	margin-top:8px;
	margin-right:50px;
	font-size: 16px;
	font-family: 幼圆;
}
.search form a{
	font-size: 16px;
	font-family: 幼圆;
}
.search form input{
	font-size: 10px;
	font-family: 幼圆;
	color:#c5c1aa;
}
.kinds{
	float:left;
	margin-top: 160px;
	margin-left:333px;
	
}
.kinds ul li{
    float:left;
    width:60px;
    height:30px;
    margin-left: 30px;
}
.kinds ul li a{
	display:block;
	height:30px;
	line-height:30px;
	text-align: center;
	color:white;
	font-size: 18px;
	font-family: 幼圆;
}
.kinds ul li a:hover{
	text-decoration:none;
	border:1px solid #cd3333;
	font-weight: bolder;
	font-size: 22px;
	color:black;
}
/*主体部分*/
#body{
	width:1000px;
	margin:auto;
	height:850px;
	background-image: url(../images/b081d059c22b45d7677c4e09c48b3d91a724fd9d4a72d-aOe0vF_fw658.png);
}
#mianbao{
	margin-left:10px;
	font-family:幼圆;
	font-size: 14px;
	margin-top:10px;
}
#mianbao a {
	font-family:幼圆;
	font-size: 14px;
}
.top{
	float:left;
	clear:left; 
	width:300px;
	margin-top: 30px;
	margin-left:10px;
}
.top span{
	font-size: 32px;
	font-family:幼圆;
	color:#cd3333;
}
.top ul li{
	width:100px;
	height:30px;
	line-height:30px;
}
.top ul li a{
	font-size:14px;
}
.top ul li:hover{
	font-size: 20px;
	font-family: 幼圆;
	border-bottom:1px solid black;
	list-style-type:circle;
}
.bottom{
	float:left;
	width:300px;
	margin-top: 30px;
	margin-left:10px;
}
#yuedui{
	font-size: 32px;
	font-family:幼圆;
	color:#cd3333;
}
.bottom a img{
	margin-left:10px;
	margin-top:10px;
	max-width: 280px; width:expression(this.width>280?"280px":this.width);
}
.bottom a span{color:#cd3333;}
.right{
	float:left;
	width:640px;
	margin-top:-320px;
	margin-left:10px;
	border-left:1px solid black;
}
#huodong{
	margin-left:20px;
	font-size: 32px;
	font-family:幼圆;
	color:#cd3333;
}
.right ul li{
	height:32px;
	line-height:32px;
}
.right ul li span{float:right;}
.foot{
	margin-top:60px;
	margin-left:110px;
}
.foot ul li{
	float:left;
	width:30px;
	height:30px;
	margin-left: 10px;
	line-height:30px;
	text-align: center;
	
}
.foot ul li a{
	display:block;
}
.foot ul li a:hover{
	font-size: 20px;
	font-weight: bolder;
	border:1px solid black;
}

/*页脚部分*/
#foot{
	width:1000px;
	margin:auto;
	clear:both;
	background-image:url(../images/4394122_094505549159_2.jpg);
}
#foot ul{margin-left:200px;}
#foot ul li{
	float:left;
	width:60px;
	height:30px;
	margin-left:30px;
}
#foot ul li a{
	display:block;
	height:30px;
	line-height:30px;
	text-align:center;
}
