*{margin:0px;
padding:0px;}
.imgage {
	float:left;
	width:206px;
	border:1px solid gray;
	margin-left:0px;
}
.desc{
	width:206px;
	font-size:12px;
	text-align:center;
}
a img{
	display:inline;
	margin:3px;
	border:1px solid #bebebe;
	width:200px;
	height:160px;
	opacity:0.5;
}
a img:hover{
	border:1px solid #333333;
	opacity:1;
}
